# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.python-version
.env

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/

# Temporary folders
temp/

# Data (raw datasets should not be committed)
data/


# Large local artifacts
bge_embeddings.npy
chunks_no_emb.pkl
